@font-face {
	font-family: "Proxima Nova Alt Reg";
	src: url("../fonts/Proxima Nova Alt Reg.otf") format("opentype")
}

@font-face {
	font-family: "Proxima Nova Alt Bold";
	src: url("../fonts/Proxima Nova Alt Bold.otf") format("opentype")
}

@font-face {
	font-family: "Proxima Nova Alt Sbold";
	src: url("../fonts/Proxima Nova Alt Sbold.otf") format("opentype")
}

@font-face {
	font-family: "Proxima Nova Alt Thin";
	src: url("../fonts/Proxima Nova Alt Thin.otf") format("opentype")
}

@font-face {
	font-family: "Proxima Nova Alt Xbold";
	src: url("../fonts/Proxima Nova Alt Xbold.otf") format("opentype")
}
