// Normalize Styles
@import 'node_modules/normalize.css/normalize';

@import './fonts';

// $proxReg: "Proxima Nova Alt Reg";
$proxBold: "Proxima Nova Alt Bold";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: scroll;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: $proxBold;
}

.bg {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}

.day {
  background-image: url('../images/bg_day.jpg');
}

.night {
  background-image: url('../images/bg_night.jpg');
}

.page {
  padding: 4.5em;
}

.logo {
  width: 410px;
}

.play {
  height: 74px;
  margin-left: 2em;
}

.information {
  display: inline-block;
  float: right;
  text-align: right;

  h1 {
    margin: 0;
    font-size: 3.8em;
  }

  p {
    margin-top: 0.1em;
    font-size: 1.7em;
  }
}

.touchtopledge {
  cursor: pointer;
  margin-top: 202px;

  p {
    font-size: 54pt;
    margin: 0;
    line-height: 1.03;
  }

  img {
    width: 387px;
    position: relative;
    left: -10px;
    margin-top: .7em;
    margin-bottom: .3em;
  }
}

.socialmedia {

  margin-top: 1em;

  span {
    font-size: 2em;
  }

  .facebook {

    img {
      left: -19px;
      width: 100px;
      position: relative;
    }
    span {
      position: relative;
      bottom: 22px;
      left: -7px;
    }
  }

  .others {

    span {
      position: relative;
      left: -65px;
      top: -28px;
    }

    .ig {
      width: 100px;
      position: relative;
      left: -20px;
    }
    .twitter {
      width: 98px;
      position: relative;
      left: -50px;
      top: -1px;
    }
    .youtube {
      width: 100px;
      position: relative;
      left: -75px;
    }
  }
}

canvas {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
