// Normalize Styles
@import 'node_modules/normalize.css/normalize';

@import './fonts';

$proxReg: "Proxima Nova Alt Reg";
$proxBold: "Proxima Nova Alt Bold";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: scroll;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: $proxReg;
}

.bg {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}

.day {
  background-image: url('../images/bg_day.jpg');
}

.night {
  background-image: url('../images/bg_night.jpg');
}

.page {
  text-align: center;
}

.logo {
  text-align: center;
}

.touchtopledge {
  cursor: pointer;
}

canvas {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
