extends _layouts/base

block content
  .page
  
    .day.bg
    .night.bg
    
    img(class="logo" src="../images/logo.png")
    img(class="play" src="../images/play.png")
    
    .information
      h1.count
      p 
        | birthday wishes
        br
        | and counting
      
    
    .touchtopledge
      p
       | Set off fireworks
       br
       | to show you are
       br 
       | Singapore!
      img(src="../images/touch.png")
      
      p Happy 53rd birthday!
      
    .socialmedia
      .facebook
        img(src="../images/fb.png")
        span ClearChannelSingapore
      .others
        img(class="ig" src="../images/ig.png")
        img(class="twitter" src="../images/twitter.png")
        img(class="youtube" src="../images/youtube.png")
        span ClearChannelSG
      
    audio
      source(src="../assets/fireworks_sound.mp3" type="audio/mpeg")
    
    
    
