extends _layouts/base

include _modules/link/link

block content
  .page
    .logo ccslogo
    
    .information
      h1.count 1,000
      p people have joined the pledge
      
    
    .touchtopledge
      .flag
      h2 TOUCH TO PLEDGE
      p AS ONE UNITED PEOPLE
      img(src="")
    
    
    
