extends _layouts/base

block content
  .page
  
    .day.bg
    .night.bg
    
    .logo ccslogo
    
    .information
      h1.count
      p people have joined the pledge
      
    
    .touchtopledge
      .flag
      h2 TOUCH TO PLEDGE
      p AS ONE UNITED PEOPLE
      img(src="")
      
    audio
      source(src="../assets/fireworks_sound.mp3" type="audio/mpeg")
    
    
    
